/* Scss Document */

h1,h2,h3,h4,h5 {
	font-weight: 500;
	font-family: $headingfont;
	color: $darkgrey;
	text-transform: uppercase;
}

h1 {
	@include font-size(40px);
}

h2 {
	@include font-size(32px);
}

h3 {
	@include font-size(25px);
}

h4 {
	@include font-size(22px);
}

li, p {
	color: $darkgrey;
	font-family: $contentfont;
	margin-bottom: 20px;
	line-height: 1.6; 
}

a {
	outline: none;
	color: $darkgrey;
	text-decoration: none;
	transition: all 0.5s;
	
	.no-touchevents &:hover {
		transition: all 0.5s;
	}
	
	&.scroll-down {
		text-transform: uppercase;
		color: $red;
		
		.no-touchevents &:hover {
			color: darkgrey;
		}
		
		&.scrolled {
			opacity: 0;
			pointer-events: none;
		}
	}
}

p {
	&.small {
		font-size: 0.750rem;
	}
	
	a {
		color: $red;
		display: inline-block;
		
		.no-touchevents &:hover {
			color: $darkgrey;
		}
	}
}

hr {
	border: none;
	width: 40px;
	height: 3px;
	margin: 40px auto;
	background-color: $red;
}

.container {
	width: 100%;
	max-width: 2000px;
	height: 100%;
	margin: 0 auto;
	padding: 0 70px;
	position: relative;
}

.iframe-container {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;

    iframe {
        border: 0;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.column-wrap {
	display: flex;
    flex-wrap: wrap;
	
	&:after {
		content: none;
	}
}

.one-third {
	width: 33.333333%;
}

.two-thirds {
	width: 66.666666%;
}

.two-col {
	width: 48%;
	float: left;
	margin: 0 4% 40px 0;
	clear: right;
}

.two-col.last {
	margin-right: 0;
	padding-right: 0;
}

.indented {
	clear: both;
	width: 100%;
	max-width: 680px;
	margin: 0 auto 60px auto;	
}

.no-pad {
	padding: 0;
}