//Variables
@import "variables/variables-master";

p.large-p {
	font-size: 24px; 
	line-height: 1.286em;  
}

a.button {
	padding: 10px 25px;
	display: inline-block;
	color: $white;
	background-color: $black;
	font-size: 18px;
	text-align: center;
	text-decoration: none; 	
}