.news-posts {
	width: 100%;
	
	.item {
	}
}

.load-more-posts {
	width: 100%;
	clear: both;
	min-height: 80px;
	text-align: center;
	padding: 20px 0 0 0;
	
	a {
		display: inline-block;
	}
	
	.load {
		width: 55px;
		height: 55px;
		border-radius: 50%;
		clear: both;
		display: inline-block;
		position: relative;
		text-indent: -9999em;
		border-top: 5px solid rgba(0, 0, 0, 0.1);
		border-right: 5px solid rgba(0, 0, 0, 0.1);
		border-bottom: 5px solid rgba(0, 0, 0, 0.1);
		border-left: 5px solid $black;
		animation: loading 1s infinite linear;
	}
}
