footer {
	width: 100%;
	clear: both;
	
	p {
		a {
		}
	}
	
	ul {
		li {
			a {
			}
		}
	}
	
	p.copy {
		padding-top: 20px;
		
		a {
		}
	}
}

/*
=================================
IE NOTICE
=================================
*/

.ie10notice {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 9993;
	width: 100%;
    height: 50vh;
	@include font-size(16px);
	font-weight: 400;
	color: $white;
	padding: 60px 30px;
	background-color: #00aadd;
    
    .logo {
        margin-bottom: 30px;
    }
	
	a {
		color: $white;
		font-weight: bold;
	}
	
	h3, p {
		color: $white;
		font-weight: normal;
        
        a:not(.button) {
            color: $white;
        }
	}
    
    h3 {
        @include font-size(40px);
    }
	
	strong {
		font-weight: 700;
	}
	
	ul.important-notice {
		padding: 0;
		list-style-type: 0;
		margin-bottom: 20px;
		
		li {
			display: inline;
			margin-right: 10px;
			
			img {
				vertical-align: middle;
			}
			
			&.uppercase {
				text-transform: uppercase;
				font-size: 1.2rem;
				vertical-align: middle;
			}
		}
	}
} 