/* Scss Document */
form {
	textarea,
	input[type="tel"],
	input[type="email"],
	input[type="number"],
	input[type="text"],
	input[type="password"]{
		width: 100%;
		padding: 16px;
		border-radius: 0;
		@include appearance(none);
		font-family: $contentfont;
		font-weight: 500;
        @include font-size(16px);
	}
	
	.select-wrap {
		overflow: hidden;
		background-color: $white;
		position: relative;
		
		&:before {
			content: "";
			width: 25px;
			height: 14px;
			//background: url(../../images/select-arrow.svg) no-repeat;
			position: absolute;
			right: 20px;
			top: 50%;
			margin-top: -5px;
		}
		
		select {
			font-family: $contentfont;
			font-weight: 500;
			@include font-size(16px);
			position: relative;
			z-index: 3;
			cursor: pointer;
			width: 105%;
			height: 100%;
			padding: 16px;
			text-indent: 1px;
			text-overflow: '';
			border: none;
			margin-bottom: 0;
			background-color: transparent;
			@include appearance(none);
		}
	}
	
	textarea {
		resize: none;
		min-height: 170px;
		max-width: 100%;
		font-weight: 500;
		font-family: $contentfont;
	}
	
	textarea,
	.select-wrap,
	input[type="tel"],
	input[type="email"],
	input[type="number"],
	input[type="text"],
	input[type="password"] {
		margin-bottom: 20px;
		
		&:focus {
			outline: none;
		}
	}
	
	input[type="checkbox"] {
		cursor: pointer;
		position: relative;
		top: 4px;
	}
	
	button,
	input[type="submit"] {
		border: none;
		cursor: pointer;
		font-family: $headingfont;
		font-weight: 900;
		padding: 0;
	}
	
	.wpcf7-form-control-wrap {
		display: block;
	}
	
	::-webkit-input-placeholder {
		font-weight: 500;
	}

	::-moz-placeholder {
		font-weight: 500;
	}

	:-ms-input-placeholder {
		font-weight: 500; 
	}

	:-moz-placeholder {
		font-weight: 500;
	}
	
	.checkbox {
		margin-bottom: 20px;
		
		.wpcf7-form-control-wrap {
			float: left;
			display: inline-block;
		}
		
		.wpcf7-list-item {
			margin: 0 10px 20px 0;

			label input[type="checkbox"] {
			    display: inline-block;
			    width: 14px;
				height: 14px;
			    vertical-align: top;
			    margin: 0 8px 5px 0;
				position: relative;
				top: 2px;
			}

			label span.wpcf7-list-item-label {
			    display: inline-block;
			    margin-left: 2%;
			}

		}
	}
	
	/* RESPONSE / ERRORS*/
	
	.ajax-loader,
	.ajax-loader:after {
		border-radius: 50%;
		width: 22px !important;
		height: 22px !important;
	}

	.ajax-loader {
		clear: both;
		display: block;
		position: relative;
    	left: 40px;
		top: -10px;
		background-image: none !important;
		text-indent: -9999em;
		border-top: 4px solid rgba(255, 255, 255, 0.2) !important;
		border-right: 4px solid rgba(255, 255, 255, 0.2) !important;
		border-bottom: 4px solid rgba(255, 255, 255, 0.2) !important;
		border-left: 4px solid $black !important;
        transform: translateZ(0);
		animation: loading 1s infinite linear;
	}
	
	span.wpcf7-not-valid-tip {
		display: none;	
	}
	
	input[type="checkbox"] + span.wpcf7-not-valid-tip {
		display: block;
		margin-bottom: 5px;
	}

	div.wpcf7-response-output {
		margin: 30px 0;
		width: 100%;
		@include font-size(16px);
		font-family: $contentfont;
		border-radius: 8px;
	}

	textarea.wpcf7-not-valid,
	select.wpcf7-not-valid,
	form .select-wrap select.wpcf7-not-valid,
	input[type="tel"].wpcf7-not-valid, 
	input[type="email"].wpcf7-not-valid, 
	input[type="text"].wpcf7-not-valid {
		color: #0D2240;
		opacity: 1;
		background-color: #ffd4d4;
		border-color: red;
	}

	.invalid .focus-input {
		background-color: #ffd4d4;
	}
	
	div.wpcf7-mail-sent-ng,
	div.wpcf7-validation-errors {
		border: 2px solid red;
		background-color: #ffd4d4;
		width: 100%;
		padding: 16px 20px;
		color: #ec6c6c;
		color: red;
	}

	div.wpcf7-mail-sent-ok {
		padding: 20px;
		border: 2px solid #55d2a6;
		margin-bottom: 20px;
		position: relative;
		background-color: #f2fffa;
		color: #0D2240;
	}

}

