header {
	position: relative;
	width: 100%;
	top: 0;
	left: 0;
	height: 115px;
	padding: 20px;
	z-index: 100;
	-webkit-backface-visibility: hidden;
}


/*
=================================
HAMBURGER / FLYOUT MENU
=================================
*/

.hamburger {
	cursor: pointer;
	width: 32px;
	float: right;
	position: fixed;
	z-index: 150;
	top: 25px;
	right: 25px;
	opacity: 0;
	visibility: hidden;
	transition: all 0.4s;
	
	&.sticky {
		opacity: 1;
		visibility: visible;
	}
	
	&.active {
		opacity: 1 !important;
		visibility: visible !important;
	}

	span {
		position: relative;
		top: 0;
		width: 100%;
		height: 3px;
		display: block;
		margin: 0 auto 6px auto;
		background-color: $white;
		transition: transform 0.3s ease-in-out, opacity 0.3s 0.3s ease-in-out, top 0.3s 0.3s ease-in-out;

		&.bottom {
			margin-bottom: 0; 
		}
	}

	&.active span {
		transition: top 0.3s ease-in-out, opacity 0.3s 0.3s ease-in-out, transform 0.3s 0.3s ease-in-out;

		&.top {
			top: 9px;
			transform: rotate(45deg);
		}

		&.middle {
			opacity: 0;
		}

		&.bottom {
			top: -9px;
			transform: rotate(-45deg);
		}
	}
	
	&.dark span {
		background-color: $black;
	}
}