.page-section {
	width: 100%;
	clear: both;
	
	ul, ol {
		margin-bottom: 40px;

		li {
			color: $black;
			font-weight: normal;
			margin-bottom: 10px;
			position: relative;
			padding-left: 20px;
            @include font-size(16px);

			> ul {
				margin: 10px 0;
			}

			a {
				display: inline-block;
			}
		}
 
	}

	ul li:before {
		content: '';
		position: absolute;
		display: block;
		width: 5px;
		height: 5px;
		top: 7px;
		left: 0px;
		background-color: $black;
		border-radius: 50%;
	}

	ol {
		counter-reset: count-me;

		li {
			list-style-type: none;
			counter-increment: count-me;
			position: relative;
			padding-left: 20px;

			&:before {
				content: counter(count-me)". ";
				position: absolute;
				left: 0;
				top: 0;
				color: $black;
				@include font-size(16px);
			}
		}
	}
	
	.table-wrap {
		width: 100%;
		margin-bottom: 40px;
	}
	
	table {
		width: 100%;
		border-collapse: collapse; 
		
		thead {
			
			td {
				padding: 10px;
				font-family: $headingfont;
			}
		}
		
		tbody {
			
			tr {
				td {
					padding: 10px;
				}
			}
		}
	}
    
    &.basic-content {
        p {
            img {
                margin: 20px 0;
            }

            a {
                &:after {
                    content: none; 
                } 
            }
        }
    }

	&.video-block {
        position: relative;
        width: 100%;

        .video-wrapper {
            overflow: hidden;
        }

        .wp-video, 
         video.wp-video-shortcode, 
         .mejs-container, 
         .mejs-overlay.load {
            width: 100% !important;
            height: 100% !important;
        }

        .mejs-container {
            padding-top: 56.25%;

            .mejs-poster {
                &:after { 
                    content: '';
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: rgba(0,0,0,0.3);
                }
            }
        }

        .wp-video, 
        video.wp-video-shortcode {
            max-width: 100% !important;
        }

        video.wp-video-shortcode {
            position: relative;
        }

        .mejs-mediaelement {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        .mejs-controls {
            //display: none !important;
			.mejs-time-rail {
				.mejs-time-current {
					background-color: $themeblue !important;
				}
			}
        }

        .mejs-overlay-play {
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: auto !important;
            height: auto !important;
        }

         .mejs-overlay-button {
             width: 100px !important;
             height: 100px !important;
             background-image: url("../../src/images/play-button.svg") !important;
             background-size: cover;
             background-repeat: no-repeat;
             background-position: center center !important;
             transition: 0.3s all;

             .no-touchevents &:hover {
                 transform: scale(1.05);
             }
         }
    }
    
    &.map-section {
        width: 100%;

        .map {
            position: relative;
        }
    }

}