@media screen and (max-width: 1600px) {

}

@media screen and (max-width: 1350px) {

}

@media screen and (max-width: 1280px) { 
	
}

@media screen and (max-width: 1180px) {
	
}

@media screen and (min-width: 1024px) {
	
}

@media screen and (max-width: 1024px) {
	
}

@media screen and (max-width: 920px) {
	
}

@media screen and (max-width: 820px) {
	
}

@media screen and (max-width: 720px) {
	
}

@media screen and (max-width: 680px) {
	
}

@media screen and (max-width: 600px) {
	
}

@media screen and (max-width: 560px) {
	
}

/*
==================================
HEIGHT BASED MEDIA QUERY
==================================
*/

@media screen and (max-height: 850px) {

}

/* HEIGHT AND WIDTH */

@media (max-height: 680px) and (min-width: 1200px) { //laptop(ish)

}

@media (max-height: 850px) and (max-width: 600px) {

}

@media (max-height: 700px) and (max-width: 600px) {

}